$breakpoint-desktop: 1216px;
$Brange: hsl(31, 77%, 52%);
$Dark: hsl(184, 100%, 22%);
$Very_dark: hsl(179, 100%, 13%);
    .attribution { 
        font-size: 11px; text-align: center;
        a{ 
            color: hsl(228, 45%, 44%);
        }  
    }
    
    body{
        font-size: 20px;
        background-color: hsl(0, 0%, 95%);
    }
    main {
        display: grid;
        border-radius: 7px;
        background-color: hsl(0, 0%, 95%);
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        margin: 3rem 0.5rem 0rem 0.5rem;
        .heading{
            color: hsl(0, 0%, 95%);
            font-family: 'Big Shoulders Display', cursive;
        }
    }
    p{
        font-family: 'Lexend Deca', sans-serif;
        font-size: 15px;
        color:hsla(0, 0%, 100%, 0.75);
        line-height: 25px;
        margin: 0px 0px 25px 0px;

    }
    @mixin a{
        background-color: white;
        font-family: 'Lexend Deca', sans-serif;
        display: inline-block;
        border-radius: 3rem;
        padding: 1rem 2rem;
        font-size: 15px;
        text-decoration: none;
        &:hover {
            color:hsla(0, 0%, 100%, 0.75);
            background-color: transparent;
            box-shadow: 0 0 1px 1px white;
          }
    }
    .grid-item-sedan{
        border-radius: 7px 7px 0px 0px;
        padding: 3rem;      
        background-color: $Brange;
        a{
            @include a;
            color: $Brange;
        }
    }
    .grid-item-suvs{
        padding: 3rem;      
        background-color: $Dark;
        a{
            @include a;
            color: $Dark;
        }
    }
    .grid-item-luxury{
        border-radius: 0px 0px 7px 7px;
        padding: 3rem;      
        background-color: $Very_dark;
        a{
            @include a;
            color: $Very_dark;
        }
    }

    @media (min-width: 616px) {
        main{
            grid-template-columns: repeat(1, 600px);
            display: grid;
            justify-content: center;
            margin-top: 10%;
            text-align: center;
        }
    }
    
    @media (min-width: $breakpoint-desktop) {
    main{
        display: grid;
        grid-template-columns: repeat(3, 300px);
        justify-content: center;
        margin-top: 10%;
        border-radius: 7px;
        text-align: left;
        }
        .grid-item-sedan{
            border-radius: 7px 0px 0px 7px;
        }
        .grid-item-luxury{
            border-radius: 0px 7px 7px 0px;
        }
    }